<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @user.name_first %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @user.name_last %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
